.gradle/7.5/gc.properties
.gradle/7.5/checksums/checksums.lock
.gradle/7.5/checksums/md5-checksums.bin
.gradle/7.5/checksums/sha1-checksums.bin
.gradle/7.5/dependencies-accessors/dependencies-accessors.lock
.gradle/7.5/dependencies-accessors/gc.properties
.gradle/7.5/executionHistory/executionHistory.lock
.gradle/7.5/fileChanges/last-build.bin
.gradle/7.5/fileHashes/fileHashes.bin
.gradle/7.5/fileHashes/fileHashes.lock
